@model string
<nav>
    <!-- OPTIONS LIST -->
    <ul class="nav pull-left">

        <!-- USER OPTIONS -->
        <li class="dropdown pull-right">
            <span style="font-family:'B Esfehan';font-size:23px;color:white">
                @Model
            </span>
        </li>
        <!-- /USER OPTIONS -->
    </ul>
</nav>

