@model bool
@{
    ViewBag.Title = "تغییر رمز عبور";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}



<div class="container" style="min-height:550px;">
    <div class="row">
        <div class="col-md-5 m-x-auto pull-xs-none vamiddle" style="margin-top: 29.1583px;">
            <div class="card">
                <div class="card-block p-a-2">


                    <div class="card-block">
                        <div class="text-center">
                            <h5>تغییر رمز عبور</h5>
                        </div>






                        @if (Model)
                        {
                            <div>
                                <span>
                                    رمز عبور شما با موفقیت تغییر کرد.<br />
                                    هم اکنون میتوانید <a href='@Url.Action("Login","Account",new {returnUrl ="logoff" })'>وارد </a>شوید.
                                </span>
                            </div>
                        }
                        else
                        {
                            <div>
                                <span>
                                    خطا در تغییر رمز عبور!<br />
                                    اگر رمز عبور خود را فراموش کرده اید از طریق  @Html.ActionLink("فراموشی رمز عبور ", "ForgotPassword", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) آن را تغییر دهید.
                                </span>
                            </div>
                        }











                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

