<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Glassma CRM</title>
    <link rel="icon" href="~/Content/glassma.ico" />
    <!-- Font Icon -->
    <link href="~/Content/themes/crmlogin/fonts/material-icon/css/material-design-iconic-font.css" rel="stylesheet" />
    <link href="~/Content/themes/crmlogin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/content/themes/accountingadmin/assets/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Main css -->
    <link rel="stylesheet" href="~/Content/themes/crmlogin/css/style.css">
</head>
<body>
    <div class="main">
        <!-- Sing in  Form -->
      @RenderBody()
    </div>

    <!-- JS -->
    @*<script src="~/Content/themes/crmlogin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/themes/crmlogin/js/main.js"></script>*@
    <script src="~/Content/themes/crmlogin/js/bootstrap.min.js"></script>
</body>
</html>